.checked {
    border: 10px solid red;
}

body {
    margin: 0;
    font-family: Roboto, sans-serif;
    background: url('https://images.unsplash.com/photo-1520987623799-101883d6585a?') no-repeat;
    background-size: cover;
    background-color: tomato;
}



#canvas {
    background: #888888;
    width: 80vh;
    height: 60vh;
    padding: 10vh;
    margin: 5vh auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }

header {
    text-align: center;
    font-size: x-large;
  }

h1 {
    color: orange;
    width: 60vh;
}

.cards {
    width: 80vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.cards > div {
    width: 30vh;
    height: 20vh;
    border: 10px solid transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}

#card1 {
    background-color: orangered;
}

#card2 {
    background-color: green;
}

#card3 {
    background-color: red;
}

/* how to put a pic of any size but to make visible a square part of it + centered
*/

img {
    width: 20vh;
    padding: 2vh;
}